/* Colors are based on the radix scales at
     https://www.radix-ui.com/colors/docs/palette-composition/scales
   Comments show the specific scale name and index.
*/
@media(prefers-color-scheme: light) {
    :root {
        --background-1: #f9f9f9;
        /* gray-2 */
        --background-2: #e0e0e0;
        /* gray-5 */
        --text-1: #202020;
        /* gray-12 */
        --border: #bbbbbb;
        /* gray-8 */

        --success-fg: #fbfefb;
        /* grass-1 */
        --success-bg: #46a758;
        /* grass-9 */
        --success-bg-hover: #3e9b4f;
        /* grass-10 */
        --failed-fg: #fffcfc;
        /* red-1 */
        --failed-bg: #e5484d;
        /* red-9 */
        --failed-bg-hover: #dc3e42;
        /* red-10 */
        --skipped-fg: #4f3422;
        /* amber-12 */
        --skipped-bg: #ffc53d;
        /* amber-9 */
        --skipped-bg-hover: #ffba18;
        /* amber-10 */
    }
}

@media(prefers-color-scheme: dark) {
    :root {
        --background-1: #191919;
        /* gray-2 */
        --background-2: #313131;
        /* gray-5 */
        --text-1: #eeeeee;
        /* gray-12 */
        --border: #606060;
        /* gray-8 */

        --success-fg: #0e1511;
        /* grass-1 */
        --success-bg: #46a758;
        /* grass-9 */
        --success-bg-hover: #53b365;
        /* grass-10 */
        --failed-fg: #191111;
        /* red-1 */
        --failed-bg: #e5484d;
        /* red-9 */
        --failed-bg-hover: #ec5d5e;
        /* red-10 */
        --skipped-fg: #16120c;
        /* amber-1 */
        --skipped-bg: #ffc53d;
        /* amber-9 */
        --skipped-bg-hover: #ffd60a;
        /* amber-10 */
    }
}

body {
    background: var(--background-1);
    color: var(text-1);
}

header {
    width: 100%;
    height: 100px;
    display: flex;
}

main {
    margin: 10pt;
}

.logo {
    padding: 10px;
}

.tests-table {
    border-collapse: collapse;
}

.tests-table td,
.tests-table th {
    border: 1px solid var(--border);
}

.tests-table td.row-gap {
    border: none;
}

.tests-table a {
    text-decoration: none;
    display: block;
    width: 100%;
    height: 100%;
}

/* make header stick to the top of the page */
.tests-table thead th {
    position: sticky;
    top: -1px;

    /* the border does not stick with the element, so emulate a sticking border */
    box-shadow: 1px 1px 0 var(--border), -1px -1px 0 var(--border);
    border: none;

    background-color: var(--background-2);
    font-size: 1.2em;
}

.tests-table thead {
    /* fill little gaps left by shadow */
    border: 1px solid var(--border);
}

.group-header {
    background-color: var(--background-2);
    font-size: 1.5em;
}

.table-legend {
    display: flex;
    align-items: center;
    margin: 1ex 0 2ex 0;
}

.table-legend div {
    margin-right: 5pt;
}

.success {
    background: var(--success-bg);
}

.success a,
.success a:visited {
    color: var(--success-fg);
}

.success:hover {
    background: var(--success-bg-hover);
}

.failed,
.error {
    background: var(--failed-bg);
}

.failed a,
.failed a:visited,
.error a,
.error a:visited {
    color: var(--failed-fg);
}

.failed:hover,
.error:hover {
    background: var(--failed-bg-hover);
}

.skipped {
    background: var(--skipped-bg);
}

.skipped a,
.skipped a:visited {
    color: var(--skipped-fg);
}

.skipped:hover {
    background: var(--skipped-bg-hover);
}

.error a:before {
    content: '\f33b';
    font-family: bootstrap-icons !important;
    font-style: normal;
    font-weight: 400 !important;
    font-variant: normal;
    line-height: 1;
    vertical-align: -.125em;
    padding-right: 3pt;
}

/* make plots dark */
@media(prefers-color-scheme: dark) {
    .plot-container {
        filter: invert(75%) hue-rotate(180deg);
    }
}