:root {
	--gray-1: #111111;
	--gray-2: #191919;
	--gray-3: #222222;
	--gray-4: #2a2a2a;
	--gray-5: #313131;
	--gray-6: #3a3a3a;
	--gray-7: #484848;
	--gray-8: #606060;
	--gray-9: #6e6e6e;
	--gray-10: #7b7b7b;
	--gray-11: #b4b4b4;
	--gray-12: #eeeeee;

	--red-1: #191111;
	--red-2: #201314;
	--red-3: #3b1219;
	--red-4: #500f1c;
	--red-5: #611623;
	--red-6: #72232d;
	--red-7: #8c333a;
	--red-8: #b54548;
	--red-9: #e5484d;
	--red-10: #ec5d5e;
	--red-11: #ff9592;
	--red-12: #ffd1d9;

	--yellow-1: #14120b;
	--yellow-2: #1b180f;
	--yellow-3: #2d2305;
	--yellow-4: #362b00;
	--yellow-5: #433500;
	--yellow-6: #524202;
	--yellow-7: #665417;
	--yellow-8: #836a21;
	--yellow-9: #ffe629;
	--yellow-10: #ffff57;
	--yellow-11: #f5e147;
	--yellow-12: #f6eeb4;

	--green-1: #0e1512;
	--green-2: #121b17;
	--green-3: #132d21;
	--green-4: #113b29;
	--green-5: #174933;
	--green-6: #20573e;
	--green-7: #28684a;
	--green-8: #2f7c57;
	--green-9: #30a46c;
	--green-10: #33b074;
	--green-11: #3dd68c;
	--green-12: #b1f1cb;
}

body {
    background: var(--gray-2);
}

header {
    width: 100%;
    height: 100px;
    display: flex;
}

main {
    margin: 10pt;
}

.logo {
    padding: 10px;
}

.success {
    background: var(--green-9);
}

.success a, .success a:visited {
    color: var(--green-1);
}

.success:hover {
    background: var(--green-10);
}

.failed {
    background: var(--red-9);
}

.failed a, .failed a:visited {
    color: var(--red-1);
}

.failed:hover {
    background: var(--red-10);
}

.skipped {
    background: var(--yellow-9);
}

.skipped a, .skipped a:visited {
    color: var(--yellow-1);
}

.skipped:hover {
    background: var(--yellow-10);
}

.tests-table {
    border-collapse: collapse;
}

.tests-table td, .tests-table th {
    border: 1px solid var(--gray-8);
}

.tests-table a {
    text-decoration:none;
    display: block;
    width: 100%;
    height: 100%;
}

.group-header {
    background-color: var(--gray-5);
    font-size: 1.5em;
}

.plot-container {
    filter: invert(75%) hue-rotate(180deg);
}
