:root {
    /* Colors are based on the radix scales at
         https://www.radix-ui.com/colors/docs/palette-composition/scales
       Comments show the specific scale name and index.
    */
    --background-1: light-dark(#fff7f7, #201314);  /* gray-2 */
    --background-2: light-dark(#e0e0e0, #313131);  /* gray-5 */
    --text-1: light-dark(#202020, #eeeeee);  /* gray-12 */
    --border: light-dark(#bbbbbb, #606060);  /* gray-8 */

    --success-fg:  light-dark(#fbfefb, #0e1511);  /* grass-1 */
    --success-bg: light-dark(#46a758, #46a758);  /* grass-9 */
    --success-bg-hover: light-dark(#3e9b4f, #53b365);  /* grass-10 */
    --failed-fg: light-dark(#fffcfc, #191111);  /* red-1 */
    --failed-bg: light-dark(#e5484d, #e5484d);  /* red-9 */
    --failed-bg-hover: light-dark(#dc3e42, #ec5d5e);  /* red-10 */
    --skipped-fg: light-dark(#4f3422, #16120c);  /* (amber-12, amber-1) */
    --skipped-bg: light-dark(#ffc53d, #ffc53d);  /* amber-9 */
    --skipped-bg-hover: light-dark(#ffba18, #ffd60a);  /* amber-10 */
}

body {
    background: var(--background-1);
    color: var(text-1);
}

header {
    width: 100%;
    height: 100px;
    display: flex;
}

main {
    margin: 10pt;
}

.logo {
    padding: 10px;
}

.tests-table {
    border-collapse: collapse;
}

.tests-table td, .tests-table th {
    border: 1px solid var(--border);
}

.tests-table td.row-gap {
    border: none;
}

.tests-table a {
    text-decoration:none;
    display: block;
    width: 100%;
    height: 100%;
}

/* make header stick to the top of the page */
.tests-table thead th {
    position: sticky;
    top: -1px;
    
    /* the border does not stick with the element, so emulate a sticking border */
    box-shadow: 1px 1px 0 var(--border), -1px -1px 0 var(--border);
    border: none;
    
    background-color: var(--background-2);
    font-size: 1.2em;
}

.tests-table thead {
    /* fill little gaps left by shadow */
    border: 1px solid var(--border);
}

.group-header {
    background-color: var(--background-2);
    font-size: 1.5em;
}

.table-legend {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.table-legend div {
    margin-right: 5pt;
}

.success {
    background: var(--success-bg);
}

.success a, .success a:visited {
    color: var(--success-fg);
}

.success:hover {
    background: var(--success-bg-hover);
}

.failed {
    background: var(--failed-bg);
}

.failed a, .failed a:visited {
    color: var(--failed-fg);
}

.failed:hover {
    background: var(--failed-bg-hover);
}

.skipped {
    background: var(--skipped-bg);
}

.skipped a, .skipped a:visited {
    color: var(--skipped-fg);
}

.skipped:hover {
    background: var(--skipped-bg-hover);
}

/* make plots dark */
@media(prefers-color-scheme: dark) {
    .plot-container {
        filter: invert(75%) hue-rotate(180deg);
    }
}
