<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="refresh" content="3600">
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DMSC Integration Testing</title>
    <!-- <link href="tailwind.min.css" rel="stylesheet"> -->
    <script src="https://cdn.tailwindcss.com"></script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/tailwind@2.4.1/dist/tailwind.min.js"></script> -->
    <link rel="stylesheet" href="custom.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js@4.4.4/dist/chart.umd.min.js"></script>
</head>
<body class="flex flex-col h-screen bg-gray-100">
    <header class="w-full flex justify-between items-center p-4 banner">
        <img src="ess.png" alt="Logo">
        <h1 class="text-xl font-bold text-white">DMSC Integration Testing</h1>
        <span class="text-lg text-white">
            Last updated: {{ pipeline_end_time }}
        </span>
    </header>
    <main class="flex-1 p-8 sm:flex ">
        <!-- Left Column -->
        <div class="sm:w-1/6 p-4 bg-gray-200">
            <div class="w-full p-4 bg-{{ 'green' if failed_job_percentage == '0.00%' else 'red' }}-600 text-white text-center rounded">
                Failed jobs: {{ failed_job_percentage }}
            </div>
            <br>
            <div>
                <table class="table-auto w-full">
                    <tbody>
                        {% for test in failed_tests %}
                        <tr>
                            <td class="border px-4 py-2">
                                <a href="{{ test.job_run_url }}" class="text-blue-500 hover:underline">{{ test.job_name }}</a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <!-- Center Column -->
        <div class="sm:w-5/6 p-4">
            <!-- <p class="mb-2.5 p-2 text-blue-500">
                <a href="https://git.esss.dk/dmsc-nightly/dmsc-nightly">dmsc-nightly/dmsc-nightly</a>
            </p> -->
            <div class="grid grid-cols-3 sm:grid-cols-4 md:grid-cols-5 lg:grid-cols-8 xl:grid-cols-12 gap-2.5">
                {% for test in gitlab_tests %}
                <a href="{{ test.job_run_url }}" target="_blank" class="tooltip square-button-{{ test.job_run_status }}">
                    {% if test.job_run_status == 'success' %}
                    🚀
                    {% elif test.job_run_status == 'failed' %}
                    ⚡
                    {% else %}
                    🤔
                    {% endif %}
                    <span class="tooltiptext">
                        {{ test.job_name }}<br>
                        {{ test.teams }}
                    </span>
                </a>
                {% endfor %}
            </div>
            <hr class="my-4 border-gray-900">
            <div class="grid grid-cols-2 gap-4">
                <div>
                    <canvas id="myChart" style="width:100%;max-width:700px">
                        <script>
                        const myChart = new Chart("myChart", {
                            type: "line",
                            data: {
                                labels: {{ pipeline_run_ids }},
                                datasets: [{
                                    label: 'Failing Tests',
                                    data: {{ failing_test }},
                                    // backgroundColor: '#e41a1c',
                                    borderColor: '#e41a1c',
                                    borderWidth: 1
                                },
                                {
                                    label: 'Passing Tests',
                                    data: {{ passing_tests }},
                                    borderColor: '#4daf4a',
                                    borderWidth: 1
                                },
                                {
                                    label: 'Skipped Tests',
                                    data: {{ skipped_tests }},
                                    borderColor: '#FFFF00',
                                    borderWidth: 1
                                }]
                            },
                            options: {}
                          });
                          </script>
                    </canvas>
                </div>
                <div>
                    <table class="min-w-full bg-white">
                        <thead>
                            <tr>
                                <th class="py-2 px-4 border-b">Test Suite</th>
                                <th class="py-2 px-4 border-b">Skipped Test</th>

                            </tr>
                        </thead>
                        <tbody>
                            {% for test in skipped_test_suites %}
                            <tr>
                                <td class="py-2 px-4 border-b" style="font-size: 14px;"><a href={{ test[2] }}>{{ test[0] }}</a></td>
                                <td class="py-2 px-4 border-b" style="font-size: 14px;"><a href={{ test[2] }}>{{ test[1] }}</a></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- Right Column -->
        <div class="sm:w-1/6 p-4 bg-gray-200">
            <a href="https://git.esss.dk/dmsc-nightly/dmsc-nightly/-/pipelines/{{ pipline_id }}" target="_blank">
                <button class="w-full mb-2.5 p-2 text-white ess-button">DMSC Pipeline view</button>
            </a>
            <a href="https://git.esss.dk/dmsc-nightly/dmsc-nightly/-/pipelines/{{ pipline_id }}/test_report" target="_blank">
                <button class="w-full mb-2.5 p-2 bg-blue-500 text-white ess-button">GitLab Test Report</button>
            </a>
            <select class="w-full mb-2.5 p-2 bg-white border border-gray-300 rounded">
                <option selected>Choose a team</option>
                {% for team in teams %}
                <option>{{ team }}</option>
                {% endfor %}
            </select>

        </div>
    </main>
</body>
</html>
