<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="refresh" content="3600">
<link rel="icon" href="favicon.ico" type="image/x-icon">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="color-scheme" content="light dark">
<title>DMSC Integration Testing</title>
<link rel="stylesheet" href="style.css">
<script src="https://cdn.plot.ly/plotly-3.0.1.min.js" charset="utf-8"></script>
<script src="plot.js"></script>
</head>
<body style="font-family: Tahoma, sans-serif; border:0; margin:0;">
    <header>
        <div class="logo" style="flex:0.3;">
            <img src="https://ess.eu/themes/custom/ess/logo.svg" alt="Logo" height="80">
        </div>
        <div style="flex:1; text-align: center; color: white; background-color: #0094ca;">
            <h1><b>DMSC Integration Testing</b></h1>
        </div>
        <div style="flex:1; text-align:right; color: white; background-color: #0094ca;">
            <h3>Last updated: {last_updated}</h3>
        </div>
    </header>
    <main style="width: 100%;">
        <table style="border-collapse: collapse;">
            <thead>
            <tr>
                <th class="table-legend" style="width: 60%;">
                    Key: &nbsp;&nbsp;&nbsp;&nbsp; <div class='success' style='display:inline-block; width: 20px; height: 20px;'></div>
                    = Success &nbsp;&nbsp;&nbsp;&nbsp; <div class='failed' style='display:inline-block; width: 20px; height: 20px;'></div>
                    = Failed &nbsp;&nbsp;&nbsp;&nbsp; <div class='skipped' style='display:inline-block; width: 20px; height: 20px;'></div> = Skipped
                </th>
                <th style=" width: 40%;"></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td style="width: 60%; vertical-align: top;">
                    <table class="tests-table">
                        {tests_table}
                    </table>
                </td>
                <td style=" width: 40%; vertical-align: top;">
                    <div id="history_chart"></div>
                    <div id="groups_chart"></div>
                </td>
            </tr>
            </tbody>
        </table>
        <script>{plotly_script}</script>
    </main>
</body>
</html>
